<ul>
    <li><a href="category">Category</a></li>
    <li><a href="brand">Brand</a></li>
    <li><a href="store">Store</a></li>
    <li><a href="product">Product</a></li>
    <li><a href="dummy">Dummy</a></li>
</ul>
