<ul>
    <li><a href="/member">Member Manage</a></li>
    <li><a href="/role">Role Manage</a></li>
    <li><a href="/auth">Auth</a></li>
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/signin">Sign In</a></li>
    <li><a href="/ajax">Ajax</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/brand">Brand</a></li>
    <li><a href="/store">Store</a></li>
    <li><a href="/product">Product</a></li>
    <li><a href="/dummy">Dummy</a></li>
</ul>
