@model List<string>

<form method="post" enctype="multipart/form-data">
    <div>
        <label>Images</label>
        <input type="file" name="af" webkitdirectory />
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>

@if (Model != null)
{
    foreach (string item in Model)
    {
        <img src="/upload/@item" width="200"/>
    }
}
