
<i class="fas fa-cloud-upload-alt"></i>
<form  method="post" name="frm">
    <input type="file" name="f" />
</form>

<div id="rs"></div>

<style>
    form[name="frm"] {
        display: none;
    }
</style>

<script>
    $('.fa-cloud-upload-alt').click(function () {
        $(frm['f']).click();
    });

    $(frm['f']).change(function () {
        var fd = new FormData();
        fd.append('f', this.files[0]);
        $.ajax({
            url: '/upload/ajax',
            type: 'post',
            data: fd,
            processData: false,
            contentType: false,
            success: function (o) {
                console.log(o);
                $(rs).append(`<img width="100" src="/upload/${o.name}" />`);
            }
        });
    });
</script>
