<form enctype="multipart/form-data" method="post" name="frm">
    <input type="file" name="f" />
    <button>Upload</button>
</form>

<div id="rs"></div>

<script>
    $(frm).submit(function (ev) {
        ev.preventDefault();
        //var f = frm['f'].files[0];
        //console.log(f.name);
        var fd = new FormData();
        fd.append('f', frm['f'].files[0]);
        $.ajax({
            url: '/upload/ajax',
            type: 'post',
            data: fd,
            processData: false,
            contentType: false,
            success: function (o) {
                //Console.log(o);
                $(rs).append(`<img width="100" src="/upload/${o.name}" />`);
            }
        });
    });
</script>