@model List<string>

<form enctype="multipart/form-data" method="post">
    <input type="file" name="af" multiple /> @*af = array file*@
    <button>Upload</button>
</form>

@if (Model != null)
{
    @foreach (string item in Model)
    {
        <img src="/upload/@item" width="200" />
    }
}