<form  method="post">
    <div>
        <label>Username</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Gender</label>
        <select name="gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Undifined</option>
        </select>
    </div>
    <div>
        <button>Sign Up</button>
    </div>
</form>
