<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=GARDEN\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"/>
    <!--"Data Source=PM505-03\MSSQLSERVER2014;Initial Catalog=Northwind;Integrated Security=True"-->
  </connectionStrings>
</configuration>