<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="/aspnet.png" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</head>
<body>
    <div>
        <ul>
            @if (User.Identity.IsAuthenticated) // User đã đăng nhập
            {

                <li>Welcome:<b>@User.Identity.Name</b></li>
                <li>
                    <form action="auth/logout" method="post">
                        <button>Logout</button>
                    </form>
                </li>
                if (User.IsInRole("Admin")) // Admin mới thấy được
                {
                    <li><a href="/member">Member Manage</a></li>
                    <li><a href="/role">Role Manage</a></li>
                }
                <li><a href="/auth">Auth</a></li>

                <li><a href="/ajax">Ajax</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/brand">Brand</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/product">Product</a></li>
            }
            else // User chưa đăng nhập
            {
                <li><a href="/auth/signup">Sign Up</a></li>
                <li><a href="/auth/signin">Sign In</a></li>
            }
            <li><a href="/dummy">Dummy</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
