@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebApp.Models.Product>


<form action="/product/searchloadmore" method="get">
    <input type="text" name="q" value="@Context.Request.Query["q"]" />
    <button>Search</button>
</form>

<partial name="Product" model="@Model" />

<center>
    <button id="m" class="btn btn-primary" v="1">Load More</button>
</center>

<script>
    $(m).click(function () {
        var v = parseInt($(this).attr('v')) + 1;
        $(this).attr('v', v);
        $.post('/product/searchloadmore', { p: v, q: '@Context.Request.Query["q"]' }, function (a) {
            console.log(a);
            for (var i in a) {
                var o = a[i];
                $(sheet).append(`<tr><td>${o['id']}</td><td>${o['name']}</td><td>${o['categoryName']}</td><td>${o['brandName']}</td><td>${o['modelYear']}</td><td>${o['price']}</td>
                <td>
                    <a href="/product/edit/${o['id']}"><i class="far fa-edit"></i></a>
                </td>
                </tr>`);
            }
        });
        if (v >= @ViewBag.n) {
            $(this).hide()
        }
    });
</script>
