@model Invoice

<p>Check Out</p>

<form method="post">
    <div>
        <label>Email</label>
        <input type="text" asp-for="Email" />
    </div>
    <div>
        <label>Fullname</label>
        <input type="text" asp-for="Fullname" />
    </div>
    <div>
        <label>Phone</label>
        <input type="text" asp-for="Phone" />
    </div>
    <div>
        <label>Province</label>
        <select asp-for="ProvinceId" asp-items="ViewBag.provinces"></select>
    </div>
    <div>
        <label>District</label>
        <select asp-for="DistrictId"></select>
    </div>
    <div>
        <label>Ward</label>
        <select asp-for="WardId"></select>
    </div>
    <div>
        <label>Address</label>
        <input type="text" asp-for="Address" />
    </div>
    <div>
        <button class="btn btn-primary">Confirm</button>
    </div>
</form>

<script>
    // district là biến Json
    var district = {};

    function ShowDistrict(a) {
        for (var i in a) {
            $(DistrictId).append(`<option value="${a[i]['districtId']}">${a[i]['districtName']}</option>`);
        }
    }

    function LoadDistrict(id) {
        $(DistrictId).html(null);
        if (district[id] == undefined) {
            var url = '/cart/district/' + id;
            $.get(url, function (a) {
                district[id] = a;
                ShowDistrict(a);
                LoadWard($(DistrictId).val());
            });
            console.log("Chưa có.");
        } else {
            ShowDistrict(district[id]);
            console.log("Có rồi.");
        }

        //$(DistrictId).html(null);
        
        
    }

    function LoadWard(id) {
        $(WardId).html(null);
        var url = '/cart/ward/' + id;
        $.get(url, function (a) {
            for (var i in a) {
                $(WardId).append(`<option value="${a[i]['wardId']}">${a[i]['wardName']}</option>`);
            }
        });
    }

    LoadDistrict($(ProvinceId).val())
    $(ProvinceId).change(function () {
        LoadDistrict($(this).val());
    });
    $(DistrictId).change(function () {
        LoadWard($(this).val());
    });
</script>
