<p>Check Out</p>

<form method="post">
    <div>
        <label>Email</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Fullname</label>
        <input type="text" name="fullname" />
    </div>
    <div>
        <label>Phone</label>
        <input type="text" name="phone" />
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="address" />
    </div>
    <div>
        <button class="btn btn-primary">Confirm</button>
    </div>
</form>
