@model Category

<form method="post">
    <div>
        <label>Code</label>
        <input type="text" asp-for="CategoryCode" />
    </div>
    <div>
        <label>Name</label>
        <input type="text" asp-for="CategoryName" />
    </div>
    <div>
        <button>Save Change</button>
    </div>
</form>